; General purpose server parameters
[server]
max_connections=1000
max_threads=25
port=$PORT
network_timeout=180
log=true
log_batch_each_job=false
log_notification_thread=false
log_cleaning_thread=false
log_execution_watcher_thread=false
log_statistics_thread=false
del_batch_size=1000
markdel_batch_size=2000
scan_batch_size=10000
purge_timeout=0.5
max_affinities=10000
admin_client_name=netschedule_admin, netschedule_control, a
stat_interval=1000
max_client_data=2048
reserve_dump_space=1GB


[Log]
file=netscheduled.log

[bdb]
path=$DBPATH
max_queues=50
mem_size=100M
mutex_max=1000000
max_locks=500000
max_lockers=250000
max_lockobjects=1000000
log_mem_size=150M
checkpoint_kb=5000
checkpoint_min=5
sync_transactions=true
direct_db=true
direct_log=false
private_env=true

