BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
P {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: transparent
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: transparent
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: transparent
}
H1 {
	FONT-SIZE: 18px; MARGIN-BOTTOM: 10px; FONT-FAMILY: sans-serif
}
H2 {
	FONT-SIZE: 16px; MARGIN-BOTTOM: 10px; FONT-FAMILY: sans-serif
}
H3 {
	FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; FONT-FAMILY: sans-serif
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
UL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
A:link {
	COLOR: #006391; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006391; TEXT-DECORATION: none
}
A:hover {
	COLOR: #007cc5; TEXT-DECORATION: underline
}
P.code {
	FONT-SIZE: 12px; FONT-FAMILY: monospace
}
UL.compact {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 12pt; PADDING-TOP: 0px
}
LI.compact {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.book {
	
}
TD.book {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #f1efeb
}
TD.container {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 2px
}
TD.top-area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD.middle-left-area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD.middle-center-area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD.middle-right-area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD.bottom-area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD.menu-normal {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #a6a098 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6a098 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #a6a098 1px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #f1efeb
}
A.menu-normal:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu-normal:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.menu-normal:hover {
	COLOR: #006391; TEXT-DECORATION: none
}
TD.menu-active {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #a6a098 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6a098 1px solid; COLOR: #000000; PADDING-TOP: 1px; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #d7d3cc
}
TD.menu-out {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #a6a098 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6a098 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #a6a098 1px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #f1efeb
}
TD.menugap-normal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a098 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.menugap-active {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6a098 1px solid; PADDING-TOP: 0px; BACKGROUND-COLOR: #d7d3cc
}
TD.menugap-out {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a098 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.submenu-container {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6a098 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #a6a098 1px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #d7d3cc
}
TD.submenu-colour {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6a098 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a098 1px solid; BACKGROUND-COLOR: #d7d3cc
}
TD.submenu-normal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #d7d3cc
}
TD.submenu-active {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #d7d3cc
}
TD.submenu-out {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #d7d3cc
}
UL.site-map {
	
}
LI.site-map {
	
}
A.site-map:link {
	
}
A.site-map:visited {
	
}
A.site-map:hover {
	
}
TD.page-map {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a6a098 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #a6a098 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #a6a098 1px solid; FONT-FAMILY: sans-serif
}
TD.page-map-entry {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: sans-serif
}
TD.quick-links {
	BORDER-RIGHT: #a6a098 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #a6a098 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #a6a098 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #a6a098 1px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #f1efeb
}
TD.quick-links-entry {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 3px; FONT-FAMILY: sans-serif
}
TD.side-menu-container {
	BORDER-RIGHT: #a6a098 0px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6a098 0px solid; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #a6a098 0px solid; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
TD.side-menu-item {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: sans-serif
}
TD.side-menu-item-thin {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: sans-serif
}
TD.legalese {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #a6a098; PADDING-TOP: 5px; FONT-FAMILY: sans-serif; TEXT-ALIGN: left
}
A.legalese:link {
	COLOR: #a6a098; TEXT-DECORATION: none
}
A.legalese:visited {
	COLOR: #a6a098; TEXT-DECORATION: none
}
A.legalese:hover {
	COLOR: #007cc5; TEXT-DECORATION: none
}
TD.news-report {
	PADDING-BOTTOM: 10px
}
DIV.wisdom {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-STYLE: italic
}
DIV.figure {
	FONT-STYLE: italic; TEXT-ALIGN: center
}
