<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>gov.NCBI.Cn3D</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Cn3D</string>
	<key>CFBundleIconFile</key>
	<string>wxmac.icns</string>
	<key>CFBundleName</key>
	<string>Cn3D</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Cn3D</string>
	<key>CFBundleVersion</key>
	<string>4.1</string>
	<key>CFBundleShortVersionString</key>
	<string>4.1</string>
	<key>CFBundleGetInfoString</key>
	<string>Cn3D version 4.1</string>
	<key>CFBundleLongVersionString</key>
	<string>Cn3D version 4.1</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>****</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>129</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>
	<key>NSHumanReadableCopyright</key>
	<string>info@ncbi.nlm.nih.gov</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
